<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Wink Webapp</title>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.15/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.15/angular-route.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.0/alertify.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js"></script>
  <script >

  (function (f) {
    if (typeof exports === "object" && typeof module !== "undefined") {
      module.exports = f()
    } else if (typeof define === "function" && define.amd) {
      define([], f)
    } else {
      var g;
      if (typeof window !== "undefined") {
        g = window
      } else if (typeof global !== "undefined") {
        g = global
      } else if (typeof self !== "undefined") {
        g = self
      } else {
        g = this
      }
      g.Recorder = f()
    }
  })(function () {
    var define, module, exports;
    return (function e(t, n, r) {
      function s(o, u) {
        if (!n[o]) {
          if (!t[o]) {
            var a = typeof require == "function" && require;
            if (!u && a)return a(o, !0);
            if (i)return i(o, !0);
            var f = new Error("Cannot find module '" + o + "'");
            throw f.code = "MODULE_NOT_FOUND", f
          }
          var l = n[o] = {exports: {}};
          t[o][0].call(l.exports, function (e) {
            var n = t[o][1][e];
            return s(n ? n : e)
          }, l, l.exports, e, t, n, r)
        }
        return n[o].exports
      }

      var i = typeof require == "function" && require;
      for (var o = 0; o < r.length; o++)s(r[o]);
      return s
    })({
      1: [function (require, module, exports) {
        "use strict";

        module.exports = require("./recorder").Recorder;

      }, {"./recorder": 2}], 2: [function (require, module, exports) {
        'use strict';

        var _createClass = (function () {
          function defineProperties(target, props) {
            for (var i = 0; i < props.length; i++) {
              var descriptor = props[i];
              descriptor.enumerable = descriptor.enumerable || false;
              descriptor.configurable = true;
              if ("value" in descriptor) descriptor.writable = true;
              Object.defineProperty(target, descriptor.key, descriptor);
            }
          }

          return function (Constructor, protoProps, staticProps) {
            if (protoProps) defineProperties(Constructor.prototype, protoProps);
            if (staticProps) defineProperties(Constructor, staticProps);
            return Constructor;
          };
        })();

        Object.defineProperty(exports, "__esModule", {
          value: true
        });
        exports.Recorder = undefined;

        var _inlineWorker = require('inline-worker');

        var _inlineWorker2 = _interopRequireDefault(_inlineWorker);

        function _interopRequireDefault(obj) {
          return obj && obj.__esModule ? obj : {default: obj};
        }

        function _classCallCheck(instance, Constructor) {
          if (!(instance instanceof Constructor)) {
            throw new TypeError("Cannot call a class as a function");
          }
        }

        var Recorder = exports.Recorder = (function () {
          function Recorder(source, cfg) {
            var _this = this;

            _classCallCheck(this, Recorder);

            this.config = {
              bufferLen: 4096,
              numChannels: 2,
              mimeType: 'audio/wav'
            };
            this.recording = false;
            this.callbacks = {
              getBuffer: [],
              exportWAV: []
            };

            Object.assign(this.config, cfg);
            this.context = source.context;
            this.node = (this.context.createScriptProcessor || this.context.createJavaScriptNode).call(this.context, this.config.bufferLen, this.config.numChannels, this.config.numChannels);

            this.node.onaudioprocess = function (e) {
              if (!_this.recording) return;

              var buffer = [];
              for (var channel = 0; channel < _this.config.numChannels; channel++) {
                buffer.push(e.inputBuffer.getChannelData(channel));
              }
              _this.worker.postMessage({
                command: 'record',
                buffer: buffer
              });
            };

            source.connect(this.node);
            this.node.connect(this.context.destination); //this should not be necessary

            var self = {};
            this.worker = new _inlineWorker2.default(function () {
              var recLength = 0,
              recBuffers = [],
              sampleRate = undefined,
              numChannels = undefined;

              self.onmessage = function (e) {
                switch (e.data.command) {
                  case 'init':
                  init(e.data.config);
                  break;
                  case 'record':
                  record(e.data.buffer);
                  break;
                  case 'exportWAV':
                  exportWAV(e.data.type);
                  break;
                  case 'getBuffer':
                  getBuffer();
                  break;
                  case 'clear':
                  clear();
                  break;
                }
              };

              function init(config) {
                sampleRate = config.sampleRate;
                numChannels = config.numChannels;
                initBuffers();
              }

              function record(inputBuffer) {
                for (var channel = 0; channel < numChannels; channel++) {
                  recBuffers[channel].push(inputBuffer[channel]);
                }
                recLength += inputBuffer[0].length;
              }

              function exportWAV(type) {
                var buffers = [];
                for (var channel = 0; channel < numChannels; channel++) {
                  buffers.push(mergeBuffers(recBuffers[channel], recLength));
                }
                var interleaved = undefined;
                if (numChannels === 2) {
                  interleaved = interleave(buffers[0], buffers[1]);
                } else {
                  interleaved = buffers[0];
                }
                var dataview = encodeWAV(interleaved);
                var audioBlob = new Blob([dataview], {type: type});

                self.postMessage({command: 'exportWAV', data: audioBlob});
              }

              function getBuffer() {
                var buffers = [];
                for (var channel = 0; channel < numChannels; channel++) {
                  buffers.push(mergeBuffers(recBuffers[channel], recLength));
                }
                self.postMessage({command: 'getBuffer', data: buffers});
              }

              function clear() {
                recLength = 0;
                recBuffers = [];
                initBuffers();
              }

              function initBuffers() {
                for (var channel = 0; channel < numChannels; channel++) {
                  recBuffers[channel] = [];
                }
              }

              function mergeBuffers(recBuffers, recLength) {
                var result = new Float32Array(recLength);
                var offset = 0;
                for (var i = 0; i < recBuffers.length; i++) {
                  result.set(recBuffers[i], offset);
                  offset += recBuffers[i].length;
                }
                return result;
              }

              function interleave(inputL, inputR) {
                var length = inputL.length + inputR.length;
                var result = new Float32Array(length);

                var index = 0,
                inputIndex = 0;

                while (index < length) {
                  result[index++] = inputL[inputIndex];
                  result[index++] = inputR[inputIndex];
                  inputIndex++;
                }
                return result;
              }

              function floatTo16BitPCM(output, offset, input) {
                for (var i = 0; i < input.length; i++, offset += 2) {
                  var s = Math.max(-1, Math.min(1, input[i]));
                  output.setInt16(offset, s < 0 ? s * 0x8000 : s * 0x7FFF, true);
                }
              }

              function writeString(view, offset, string) {
                for (var i = 0; i < string.length; i++) {
                  view.setUint8(offset + i, string.charCodeAt(i));
                }
              }

              function encodeWAV(samples) {
                var buffer = new ArrayBuffer(44 + samples.length * 2);
                var view = new DataView(buffer);

                /* RIFF identifier */
                writeString(view, 0, 'RIFF');
                /* RIFF chunk length */
                view.setUint32(4, 36 + samples.length * 2, true);
                /* RIFF type */
                writeString(view, 8, 'WAVE');
                /* format chunk identifier */
                writeString(view, 12, 'fmt ');
                /* format chunk length */
                view.setUint32(16, 16, true);
                /* sample format (raw) */
                view.setUint16(20, 1, true);
                /* channel count */
                view.setUint16(22, numChannels, true);
                /* sample rate */
                view.setUint32(24, sampleRate, true);
                /* byte rate (sample rate * block align) */
                view.setUint32(28, sampleRate * 4, true);
                /* block align (channel count * bytes per sample) */
                view.setUint16(32, numChannels * 2, true);
                /* bits per sample */
                view.setUint16(34, 16, true);
                /* data chunk identifier */
                writeString(view, 36, 'data');
                /* data chunk length */
                view.setUint32(40, samples.length * 2, true);

                floatTo16BitPCM(view, 44, samples);

                return view;
              }
            }, self);

            this.worker.postMessage({
              command: 'init',
              config: {
                sampleRate: this.context.sampleRate,
                numChannels: this.config.numChannels
              }
            });

            this.worker.onmessage = function (e) {
              var cb = _this.callbacks[e.data.command].pop();
              if (typeof cb == 'function') {
                cb(e.data.data);
              }
            };
          }

          _createClass(Recorder, [{
            key: 'record',
            value: function record() {
              this.recording = true;
            }
          }, {
            key: 'stop',
            value: function stop() {
              this.recording = false;
            }
          }, {
            key: 'clear',
            value: function clear() {
              this.worker.postMessage({command: 'clear'});
            }
          }, {
            key: 'getBuffer',
            value: function getBuffer(cb) {
              cb = cb || this.config.callback;
              if (!cb) throw new Error('Callback not set');

              this.callbacks.getBuffer.push(cb);

              this.worker.postMessage({command: 'getBuffer'});
            }
          }, {
            key: 'exportWAV',
            value: function exportWAV(cb, mimeType) {
              mimeType = mimeType || this.config.mimeType;
              cb = cb || this.config.callback;
              if (!cb) throw new Error('Callback not set');

              this.callbacks.exportWAV.push(cb);

              this.worker.postMessage({
                command: 'exportWAV',
                type: mimeType
              });
            }
          }], [{
            key: 'forceDownload',
            value: function forceDownload() {
              var url = (window.URL || window.webkitURL).createObjectURL(blob);
              var link = window.document.createElement('a');
              link.href = url;
              link.download = filename || 'output.wav';
              var click = document.createEvent("Event");
              click.initEvent("click", true, true);
              link.dispatchEvent(click);
            }
          }]);

          return Recorder;
        })();

        exports.default = Recorder;

      }, {"inline-worker": 3}], 3: [function (require, module, exports) {
        "use strict";

        module.exports = require("./inline-worker");
      }, {"./inline-worker": 4}], 4: [function (require, module, exports) {
        (function (global) {
          "use strict";

          var _createClass = (function () {
            function defineProperties(target, props) {
              for (var key in props) {
                var prop = props[key];
                prop.configurable = true;
                if (prop.value) prop.writable = true;
              }
              Object.defineProperties(target, props);
            }

            return function (Constructor, protoProps, staticProps) {
              if (protoProps) defineProperties(Constructor.prototype, protoProps);
              if (staticProps) defineProperties(Constructor, staticProps);
              return Constructor;
            };
          })();

          var _classCallCheck = function (instance, Constructor) {
            if (!(instance instanceof Constructor)) {
              throw new TypeError("Cannot call a class as a function");
            }
          };

          var WORKER_ENABLED = !!(global === global.window && global.URL && global.Blob && global.Worker);

          var InlineWorker = (function () {
            function InlineWorker(func, self) {
              var _this = this;

              _classCallCheck(this, InlineWorker);

              if (WORKER_ENABLED) {
                var functionBody = func.toString().trim().match(/^function\s*\w*\s*\([\w\s,]*\)\s*{([\w\W]*?)}$/)[1];
                var url = global.URL.createObjectURL(new global.Blob([functionBody], {type: "text/javascript"}));

                return new global.Worker(url);
              }

              this.self = self;
              this.self.postMessage = function (data) {
                setTimeout(function () {
                  _this.onmessage({data: data});
                }, 0);
              };

              setTimeout(function () {
                func.call(self);
              }, 0);
            }

            _createClass(InlineWorker, {
              postMessage: {
                value: function postMessage(data) {
                  var _this = this;

                  setTimeout(function () {
                    _this.self.onmessage({data: data});
                  }, 0);
                }
              }
            });

            return InlineWorker;
          })();

          module.exports = InlineWorker;
        }).call(this, typeof global !== "undefined" ? global : typeof self !== "undefined" ? self : typeof window !== "undefined" ? window : {})
      }, {}]
    }, {}, [1])(1)
  });

  </script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/alertify.js/0.4.0rc1/themes/alertify.bootstrap.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/alertify.js/0.4.0rc1/themes/alertify.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<style>
body{
  background:url('https://i.imgur.com/Flc5Imv.jpg');
}
.modal-header h1{
  color: #2AB1DD;
  letter-spacing: 0.03em;
  font-size: 50pt;
  font-weight: 600;
}
.app{
}
.header{
  background-color: #2AB1DD;
  color: #FFF;
  font-size: 40pt;
  padding-left: 100px;
  text-shadow: 1px 1px 1px #666;
}
.header .btn{
  background-color: #FFF;
  color: #396D98;
  border-right: 2px solid #428BCA;
  border-bottom: 2px solid #428BCA;
  margin-right: 50px;
}
.devices{
  padding-left: 50px;
  padding-right: 50px;
  background-color: rgba(255, 255, 255, 0.9);
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 10px #FFF solid;
}
.device{
  display: inline-block;
  text-align: center;
  background-color: #FFF;
  margin-right: 10px;
  cursor: pointer;
  text-transform: capitalize;
  position: relative;
  border-radius: 5px;
  border-bottom: 2px solid #AAA;
  border-right: 1px solid #AAA;
}
.device.selected{
  border: 2px solid #52AAC7;
}
.device .percent{
  position: absolute;
  top: 40%;
  left: 35%;
  font-size: 20pt;
  color: #FFF;
  text-shadow: 1px 1px 1px #666;
}
.selectedDevice{
  width: 350px;
  min-height: 130px;
  margin-right: 100px;
  background-color: #FFF;
  border-radius: 5px;
  border: 1px solid #CCC;
  border-bottom: 2px solid #666;
  padding: 20px;
  text-transform: capitalize;
  border-right: 2px solid #AAA;
}
.selectedDevice h2{
  margin-top:0px;
}
.toggle{
  display: block;
  position: absolute;
}
.loginError{
  border-radius: 30px;
  width: 100%;
  line-height: 60px;
  text-align: center;
  color: #FFF;
  background-color: #DF3F3F;
  height: 60px;
  font-size: 18pt;
  letter-spacing: 0.03em;
  font-weight: 400;
}
.statusAlert{
  border-radius: 30px;
  width: 170px;
  line-height: 40px;
  text-align: center;
  color: #FFF;
  height: 40px;
  font-size: 18pt;
  letter-spacing: 0.08em;
  font-weight: 400;
  display: inline-block;
  text-transform: capitalize;

  }
.statusAlert.tada{
  background-color: #DF3F3F;
}
.statusAlert.pulse{
  background-color: #4CB54C;
  border-bottom: 2px solid #008000
}
.devices>h2{
  height:38px;
}
</style>
</head>
<body ng-app="ngWink">

  <div id="container" ng-controller="appController">


    <div ng-if="!accessToken">

      <div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="text-center">Login
                <img src="https://i.imgur.com/hoUF7sB.jpg" width="300px" >

              </h1>
              <div ng-if="loginError" class="animated loginError zoomInUp">
                Error Logging in, try again.
              </div>
            </div>
            <div class="modal-body">
              <form class="form col-md-12 center-block" ng-submit="login(email, password)">
                <div class="form-group">
                  <input type="text" class="form-control input-lg" placeholder="Email" ng-model="email">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control input-lg" placeholder="Password" ng-model="password">
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-primary btn-lg btn-block" value="Sign In">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <div class="col-md-12">
                Login with your Wink Hub account information
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>

    <div class="app" ng-if="accessToken" >
      <div class="header">
        Wink Hub Basic Controls
        <h6>Oil Level: {{oilLevel*100}}%</h6>
        <div  class="pull-right">
          <button class="btn btn-lg" ng-click="logout()">Logout</button>
        </div>
      </div>


      <div  ng-if="devices" class="devices">

        <h2>Lights
          <div ng-if="statusAlert" class="animated statusAlert" ng-class="{'pulse ':statusAlert=='success', 'tada':statusAlert=='error'}">
            <i class="fa" ng-class="{'fa-check':statusAlert=='success', 'fa-times':statusAlert=='error'}"></i>&nbsp;{{statusAlert}}
          </div>
        </h2>
        <div class="device" ng-repeat="device in devices" ng-click="selectDevice($index)">
          <h3>{{device.name}}</h3>
          <img ng-if="device.desired_state.powered" src="https://i.imgur.com/BzbO9fq.gif">
          <div class="percent" ng-if="device.desired_state.powered">{{device.desired_state.brightness*100 | number:0}}%</div>
          <img ng-if="!device.desired_state.powered" src="https://i.imgur.com/S2DoAu2.gif">
        </div>

        <div ng-if="selectedDevice" class="pull-right selectedDevice">
          <h2>{{selectedDevice.name}} <span ng-if="selectedDevice.desired_state.powered">- {{selectedDevice.desired_state.brightness*100 | number:0}}%</span><span ng-if="!selectedDevice.desired_state.powered">- Off</span></h2>
          <input ng-if="selectedDevice.desired_state.powered" type="range" min="0" max="1" step="0.01" ng-model="selectedDevice.desired_state.brightness">

          <span class="toggle" ng-hide="!selectedDevice.inital_state">
            <input  type="checkbox" class="onOff"  checked>
          </span>
          <span class="toggle" ng-hide="selectedDevice.inital_state">
            <input  type="checkbox" class="onOff">
          </span>

          <div ng-repeat="(key,attr) in selectedDevice.desired_state">
            <span ng-if="key!='powered'&&key!='brightness'">{{key}}</span>
            <input type="text" ng-if="key!='powered'&&key!='brightness'" ng-model="[key]"></input>
          </div>
          <button ng-if="selectedDevice.hasUpdates" ng-click="updateState()" class="btn btn-success pull-right">Update</button>
          <div ng-if="1==2" ng-repeat="(key,attr) in selectedDevice">
            {{key}}-{{attr}}
          </div>
        </div>

      </div>



    </div>
  </div>
</body>

<script>

  /**
  * @Author Jeff Bachand
  */

  angular.module('ngWink',['ngRoute'])
  .config( function($routeProvider, $locationProvider) {
    $locationProvider.html5Mode(true);

  });


  var appController = function($scope,$rootScope,$http,$timeout,$routeParams,$location,$document){
    $scope.devices = [];
    $scope.accessToken = localStorage.accessTokenA || null;
    $scope.authEndpoint = "https://www.amazon.com/ap/oa?client_id=amzn1.application-oa2-client.d0ce2821834d4eafae1c5669e3cfd10c&redirect_uri="+encodeURIComponent('https://jbachand.github.io/carpi.html')+"&scope=alexa%3Aall&response_type=token&scope_data="+encodeURIComponent('{"alexa:all": {"productID": "carPi","productInstanceAttributes": {"deviceSerialNumber": "1"}}}');
    $scope.reqEndpoint = "https://access-alexa-na.amazon.com"

    var getParams = $location.search();



    if(!$scope.accessToken ){
      if($location.hash().split('=')[0] != 'access_token'){
        window.location.href=$scope.authEndpoint
      } else {
        $scope.accessToken = $location.hash().split('=')[1];
        $scope.accessToken = $scope.accessToken.split('&')[0];
        localStorage.accessTokenA = $scope.accessToken;
      }

    }




    $scope.logout = function(){
      $scope.accessToken = null;
      delete localStorage.accessTokenA;
      window.location.href=$scope.authEndpoint;
    };

    $scope.getMeta = function(){
      var reqData ={};
      var fd = new FormData();
      fd.append("messageHeader", {
        "deviceContext": [
      {
        "name":"playbackState",
        "namespace":"AudioPlayer",
        "payload": {
          "streamId": "1",
          "offsetInMilliseconds": "0",
          "playerActivity": "IDLE"
        }
      }]
    });
      fd.append("messageBody",{
        "profile": "alexa-close-talk",
        "locale": "en-us",
        "format": "audio/L16; rate=16000; channels=1"
      });
      var soundBlob="";
      fd.append('audio', soundBlob);


      $http({
        method: 'POST',
        url:$scope.reqEndpoint+"/v1/avs/speechrecognizer/recognize",
        headers: {
          "Authorization": "Bearer "+$scope.accessToken
        },
        data: fd,
        processData: false,
        contentType: false

      }).
      success(function(data){
        console.log("success meta");
        console.log(data);

      }).
      error(function(data){
        console.log("fail update");
        console.log(data);
      });
    };


    if($scope.accessToken){

      try {
        // webkit shim
        window.AudioContext = window.AudioContext || window.webkitAudioContext;
        navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia;
        window.URL = window.URL || window.webkitURL;

        audio_context = new AudioContext;
        __log('Audio context set up.');
        __log('navigator.getUserMedia ' + (navigator.getUserMedia ? 'available.' : 'not present!'));
      } catch (e) {
        alert('No web audio support in this browser!');
      }


      //$scope.getMeta();
    }




  }
</script>
</html>
