<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Wink Webapp</title>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.15/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.15/angular-route.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.0/alertify.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js"></script>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/alertify.js/0.4.0rc1/themes/alertify.bootstrap.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/alertify.js/0.4.0rc1/themes/alertify.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<style>
body{
  background-color:black;
  color:white;
}

</style>
</head>
<body ng-app="ngWink">

  <div id="container" ng-controller="appController">

    <div class="app"  ng-init="recording=false">

      <h1>test{{v}}</h1>

      <button ng-click="startRecording(this);" ng-if="!recording">record</button>
      <button ng-click="stopRecording(this);" ng-if="recording">stop</button>

      <h2>Recordings</h2>
      <ul id="recordingslist"></ul>

      <h2>Log</h2>
      <pre id="log"></pre>


    </div>
  </div>
</body>

<script>

  /**
  * @Author Jeff Bachand
  */

  angular.module('ngWink',['ngRoute'])
  .config( function($routeProvider, $locationProvider) {
    $locationProvider.html5Mode(true);

  });


  var appController = function($scope,$rootScope,$http,$timeout,$routeParams,$location,$document){
    $scope.devices = [];
    $scope.accessToken = localStorage.accessTokenA || null;
    $scope.authEndpoint = "https://www.amazon.com/ap/oa?client_id=amzn1.application-oa2-client.d0ce2821834d4eafae1c5669e3cfd10c&redirect_uri="+encodeURIComponent('https://jbachand.github.io/carpi/')+"&scope=alexa%3Aall&response_type=token&scope_data="+encodeURIComponent('{"alexa:all": {"productID": "carPi","productInstanceAttributes": {"deviceSerialNumber": "1"}}}');
    $scope.reqEndpoint = "https://access-alexa-na.amazon.com"

    var getParams = $location.search();



    if(!$scope.accessToken ){
      if($location.hash().split('=')[0] != 'access_token'){
        window.location.href=$scope.authEndpoint
      } else {
        $scope.accessToken = $location.hash().split('=')[1];
        $scope.accessToken = $scope.accessToken.split('&')[0];
        localStorage.accessTokenA = $scope.accessToken;
      }

    }




    $scope.logout = function(){
      $scope.accessToken = null;
      delete localStorage.accessTokenA;
      window.location.href=$scope.authEndpoint;
    };

    $scope.v = '54';
    $scope.player = new window.Audio();

    $scope.getMeta = function(soundBlob){

      var reader = new window.FileReader();
      reader.readAsDataURL(soundBlob);
      reader.onloadend = function() {
        var base64data = reader.result;
        console.log('audio base64');
        console.log(base64data );
      }

      var requestText = new Blob([JSON.stringify({"messageHeader": {"deviceContext": [{"name":"playbackState","namespace":"AudioPlayer","payload": {"streamId": "","offsetInMilliseconds": "0","playerActivity": "IDLE"}}]},"messageBody":{"profile": "alexa-close-talk","locale": "en-us","format": "audio/L16; rate=16000; channels=1"}})], {type: "application/json; charset=UTF-8"});
      var requestText = new Blob([JSON.stringify({"messageHeader": {"deviceContext": [{"name":"playbackState","namespace":"AudioPlayer","payload": {"streamId": "","offsetInMilliseconds": "0","playerActivity": "IDLE"}}]},"messageBody":{"profile": "alexa-close-talk","locale": "en-us","format": "audio/L16; rate=16000; channels=1"}})], {type: "application/json; charset=UTF-8"});

      //var soundBlob2 = new Blob(soundBlob, {type: "audio/L16; rate=16000; channels=1"});

      //console.log('soundblob2', soundBlob2, typeof soundBlob2, 'soundblob', soundBlob, typeof soundBlob);
        var fd = new FormData();
        fd.append("request", requestText);
        fd.append('audio', soundBlob);


        $.ajax({
          method: 'POST',
          url:$scope.reqEndpoint+"/v1/avs/speechrecognizer/recognize",
          headers: {
            "Authorization": "Bearer "+$scope.accessToken
          },
          processData: false,
          contentType:false,
          data: fd,
          success: function(data){
            console.log(" sending complete");
            console.log(data);

          }
        });



        //"audio/L16; rate=44100; channels=1"


    };

    function __log(e, data) {
      log.innerHTML += "\n" + e + " " + (data || '');
    }

    var audio_context;
    var recorder;
    var recording = 0;

    $scope.startRecording = function(button) {

      recording = recording + 1;


      if(typeof recorder ==='undefined'){
        audioRecorder.requestDevice(function(recorderObject){
          recorder = recorderObject;
          startRecording(button);
        }, {recordAsOGG: false});
        return false;
      }

      recorder.clear();

      recorder && recorder.record();
      //button.disabled = true;
      //button.nextElementSibling.disabled = false;
      $scope.recording = true;
      __log('Recording...');
    }

    $scope.stopRecording = function(button) {
      recorder && recorder.stop();
      $scope.recording = false;
      //button.previousElementSibling.disabled = false;
      __log('Stopped recording.');


      createDownloadLink();


    }

    function createDownloadLink() {

      recorder.getBuffer(function(buffer){
        var blob = new DataView(buffer).getInt32(0, true)
        console.log('buffer blob', blob);
        $scope.getMeta(blob);
      });

      /*__log('Exporting to WAV');
      var c = Date.now();
      recorder.exportWAV(function(blob) {
        var a = Date.now();
        __log('WAV file successfully exported');
        __log('WAV Processed in ' + (a -c) + 'ms' );
        console.log(blob);
        //$scope.getMeta(blob);

        var url = URL.createObjectURL(blob);

        console.log(url);

        var link = document.createElement('a');
        link.href = url;
        link.innerHTML = "Recording #" + recording + "in WAV";

        link.download = "example.WAV";

        var li2 = document.createElement('li');
        li2.appendChild(link);
        document.getElementById("recordingslist").appendChild(li2);


        __log('Exporting to mp3');
        var b = Date.now();

        recorder.exportMP3(function(blob) {

          __log('MP3 file successfully exported');
          var a = Date.now();
          __log('MP3 Processed in ' + (a -b) + 'ms' );


          var length = ((blob.size*8)/128000);
          __log('MP3 duration: ' +length + ' s' );
          console.log(blob);
          var url = URL.createObjectURL(blob);
          console.log(url);

          var link = document.createElement('a');
          link.href = url;
          link.innerHTML = "Recording #" + recording + " in mp3";

          link.download = "example.mp3";

          var li2 = document.createElement('li');
          li2.appendChild(link);
          document.getElementById("recordingslist").appendChild(li2);
        });

      });*/

    }


    if($scope.accessToken){

      audioRecorder.requestDevice(function(recorderObject){
        recorder = recorderObject;
      }, {recordAsOGG: true});

      //$scope.getMeta();
    }




  }
</script>
<script src="js/audioRecord.js"></script>

</html>
